@media (min-width: 900px) {
	section#minijuegos{
		display: flex;
	}

	article.minigame {
		width: 400px;
		position: relative;
		padding-bottom: 64px !important;
	}

	article.minigame a.playButton {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}	

@media (max-width: 899px) {
	article.minigame {
	display: block;
	}
}

article.minigame {
	font-weight: normal;
	background: #ccc;
	padding: 14px;
	border-radius: 8px;
	box-shadow: 0px 0px 4px black;
	font-size: 14px;
	margin: 8px;
}

article.minigame stroke {
	font-weight: bold;
}

article.minigame h2 {
	text-align: center;
	margin-top: 12px;
	border-bottom: 1px solid #aaa;
}

article.minigame img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a.playButton {
	display: block;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	background-color: #0a0;
	background: linear-gradient(#0f0, #080);
	padding: 8px;
	border-radius: 6px;
	margin: 16px 4px 4px 4px;
	color: white;
	text-shadow: 0px 1px 1px black;
}

a.playButton:hover {
	box-shadow: 0px 2px 2px black;
	text-shadow: 0px 1px 2px black;
	background: linear-gradient(#1f1, #090);
}
