@media (min-width: 900px) {
	body > header {
		height: 80px;
	}

	body > header img {
		max-height: 80px;
	}

	h1 {
		font-size: 40px;
		margin-top: 12px;
		margin-bottom: 12px;
	}
}

@media (max-width: 899px) {
	body > header {
		height: 64px;
	}

	body > header img {
		max-height: 64px;
	}

	h1 {
		font-size: 24px;
	}
}

body {
	background: #46f;
	font-family: sans-serif;
}

body > header {
	background: #040;
	border: 2px solid white;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 2px black;
	padding: 12px;
	border-radius: 12px;
}


header img {
	float: left;
	border: 1px solid white;
	text-align: middle;
}

nav {
}

nav ul {
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

nav ul li {
	color: #4f4;
	font-size: 14px;
	cursor: pointer;
	display: inline;
	flex-grow: 1;
}

nav ul li a{
	background: #0aa;
	display: inline-block;
	padding: 8px;
	border-radius: 6px;
	border: 2px solid #ff8;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 0px 1px black;
	box-shadow: 0px 0px 3px #000;
	transition: background 0.2s;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

nav ul li:nth-child(1) a{
	background: #04a;
}

nav ul li:nth-child(2) a{
	background: #aa0;
}

nav ul li:nth-child(3) a{
	background: #0a0;
}

nav ul li:nth-child(4) a{
	background: #a40;
}
nav ul li a:hover{
	box-shadow: 0px 0px 3px black;
	text-shadow: 0px 0px 2px black;
	background: #a00;
}

section {
	background: white;
	color: black;
	min-height: 400px;
	padding: 32px;
	border-radius: 12px 12px 0px 0px;
	font-size: 14px;
}

section sidebar {
	float: right;
}

section sidebar a{
	color: #22c;

}

#preview {
	height: 80px;
	background: #222;
	background-image: url('gameplay.jpg');
	background-position: center;
	color: white;
	padding-right: 48px;
	padding-top: 200px;
	text-align: right;
	margin: 24px;
	border-radius: 24px;
	border: 1px solid black;
	font-size: 24px;
	text-shadow: 0px 0.5px 1px black;
}

body > footer {
	background: #040;
	border: 1px solid black;
	color: white;
	text-align: right;
	text-shadow: 0px 0px 2px black;
	font-size: 12px;
	padding: 4px;
	border-radius: 0px 0px 4px 4px;
	margin-top: 0px;
}

body > footer a{
	color: white;
	text-decoration: none;
	font-style: italic;
}
